<header class="jumbotrom p-3 bg-success d-hex-pattern">
  <h1>Devlulcas</h1>
  <p>WDEV - PHP MVC</p>

  <nav class="bg-light p-2 rounded">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <a href="{{URL}}" class="btn btn-warning">Home</a>
      </li>

      <li class="nav-item">
        <a href="{{URL}}/about" class="btn btn-secondary">Sobre</a>
      </li>

      <li class="nav-item">
        <a href="{{URL}}/testimonies" class="btn btn-secondary">Depoimentos</a>
      </li>
    </ul>
  </nav>
</header>